
html {
  overflow-y: scroll; 
  overflow-x: hidden ;
}

.bg-color {
  color: var(--white);
}

:root {
    --lblue: #0cc0df;
    --dblue: #00333b;
    --white: #edf3f4;
    --green: #00bf52;
    --black: #000000;
}

@font-face {
  font-family: Mokoto;
  src: url(fonts/mokoto.regular.ttf);
}

@font-face {
  font-family: CodePro;
  src: url(fonts/source-code-pro.regular.ttf);
}

header {
  background-color: var(--dblue);
  color: var(--white);
  padding: 15px;
  position: fixed ;
}

nav {
  background-color: var(--dblue);
  padding: 5px;
  width: 100% ;
  position: fixed ;
  z-index: 100;
}

nav a {
  color: var(--white);
  text-decoration: none;
  margin-right: 10px;
  margin-top: 20px;
  float: right;
}

nav a:hover {
  text-decoration: underline;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: CodePro;
  color: #222;
  line-height: 1.4;
  font-size: 20px ;
  letter-spacing: -2px;
}

.body-main {
  font-size: 25px;
  letter-spacing: -3px;
  line-height: 1.4;
  color: var(--black);
}


.body-projects {
  font-family: CodePro;
  color: #222;
  line-height: 1.4;
  font-size: 20px ;
  letter-spacing: -2px;
}

.wrap {
  font-family: CodePro;
  color: #222;
  line-height: 1.4;
  font-size: 20px;
  letter-spacing: -2px;
  max-width: 40%;
}


h1 {
  color: var(--white);
  display: inline;
  padding: 10px;
  font-family: Mokoto;
  letter-spacing: 2px;
}

h2 {
  color: var(--black);
  display: flex ;
  font-family: Mokoto;
  letter-spacing: 2px;
  font-size: 70px;
}

h3 {
  color: var(--black);
  display: inline;
  padding: 10px;
  font-family: Mokoto;
  letter-spacing: 2px;
  font-size: 25px;
}

h3:visited {
  text-decoration: underline;
  color: var(--black);
}



main {
  background-color: var(--white);
}



section {
  margin-bottom: 2rem;
}



.logo {
    width: 40px;
    margin-top: 5px;
    margin-left: 5px ;
}

.hexagon {
    position: absolute;
    left: 10px;
    top: 69px;
}

.hexagon-image {
    position: absolute;
    width: 250px;
    left: 10px;
}

.hexagon-header {
  position: absolute;
  top: 50px ;
  left: 110px ;
  font-size: 10%;
}

.footer-hexagon {
    position: absolute;
    bottom: 0px ;
    z-index: -1;
    right: 28% ;

}

.footer-hexagon-image {
    position: absolute;
    width: 550px;
    bottom: -100px ;

}

.footer-hexagon-text {
  position: relative;
  bottom: 0 ;
  font-size: 10%;

}

.rectangle-1 {
  height: 40%;
  width: 70%;
  background-color: var(--lblue);
  position: absolute ;
  right: 0px;
  top: 100px;
  padding: 10px;
}
.rectangle0 {
  height: 40%;
  width: 70%;
  background-color: var(--green);
  position: absolute ;
  left: 0px;
  top: 525px ;
  padding: 10px;
}
.rectangle1 {
  height: 46%;
  width: 70%;
  background-color: var(--lblue);
  position:absolute ;
  right: 0px;
  padding: 10px;
  top: 100px;
}

.rectangle2 {
  height: 46%;
  width: 70%;
  background-color: var(--green);
  position: absolute ;
  left: 0px;
  padding: 10px;
  top: 550px;
  -webkit-text-fill-color: var(--black);
}

.rectangle2-p {
  height: 46%;
  width: 70%;
  background-color: var(--green);
  position: absolute ;
  left: 0px;
  padding: 10px;
  top: 550px;
  -webkit-text-fill-color: var(--black);
  text-wrap-mode: wrap;
  min-inline-size: 80px;
}


.rectangle3 {
  height: 46%;
  width: 70%;
  background-color: var(--dblue);
  position: absolute ;
  right: 0px;
  padding: 10px;
  top: 1000px;
}

.the-yoshi-documentary {
  position: absolute ;
  width: 55% ;
  aspect-ratio: 16/9 ;
  bottom: 12.5px;
  right: 15px;
  border-radius: 8px ;
  border: none;
}

.nowhere-cover-art1 {
  position: absolute;
  width: 22.5%;
  left: 5%;
}
.nowhere-cover-art2 {
  position: absolute;
  width: 22.5%;
  left: 40%;
}
.nowhere-cover-art3 {
  position: absolute;
  left: 75%;
  width: 22.5%;
}

.nowhere-EP1 {
  position: absolute;
  width: 22.5%;
  left: 5%;
  top: 86%;
}
.nowhere-EP2 {
  position: absolute;
  width: 22.5%;
  left: 40%;
  top: 86%;
}
.nowhere-EP3 {
  position: absolute;
  left: 75%;
  width: 22.5%;
  top: 86%;
}

.suth-logo {
  display: block;
  max-width: 40%;
  margin: auto;
}

.house {
  position: absolute;
  display: flex ;
  max-width: 90% ;
  max-height: 80%;
  align-items: center;
}

